# Masukan API ID ambil di web my.telegram.org
API_ID = 18501987

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "22ecd6ab00a971f29a6146b2182640a6"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "BQAhIHQALrg6DwwT15BMCzzeuTtChcv4Rk0aBF22iMmsOd84deOT97FFPERa1DtINVnKdLVGsCN6ertvBT7BUGut83MFrZiHKnitXNeHyTt7K-JAY0YDqdmMbhPw9wVKxH4nMNNExaVCu-0dhutfAtGSXmhQbLEVTteFp-F1tGXwCbMFtbYENC3svX263J7M44ZSKAH3kODC4Ptl_cKQO7ha8DmtvntIIv_U3c895MhKoL1mZaBHrk6XoTxWxRfNkwZ43MMRJFMoBR64yAvwxQmYfVcT857MxEWiizXjydBLHChtwq6vZkibHAKOhfkN08pej4akHsP6FDe66Cu7pVLMCf0StQAAAAEx_dAA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = -100869346226 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://fotqvgrx:SBIvwHbqWuoz-p082sJqC4ibJabmJAWw@snuffleupagus.db.elephantsql.com/fotqvgrx"

